{% extends "layouts/base.html" %}

{% block title %} View Timesheet {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="duration-container d-flex justify-content-right col-12 mb-3">
                        <h4 class="card-title col-2">Timesheets for</h4>
                        <select class="form-control option-background col-6 mr-5 ml-3" name="date_range" id="date_range">
                            {% for range in biweekly_ranges %}
                              <option class="form-control option-background" value="{{ range.biweekly_start }} to {{ range.biweekly_end }}">
                                {{ range.biweekly_start }} to {{ range.biweekly_end }}
                              </option>
                            {% endfor %}
                          </select>
                    </div>

                    {% if user.is_staff %}
                    <div class="export-container d-flex col-12 justify-content-right">
                        <h4 class="card-title col-2">Select employee:</h4>
                        <select class="form-control option-background col-6 mr-5 ml-3" name="employee" id="select_to_export">
                            {% for employee in employees %}
                            <option class="form-control option-background" value="{{ employee.id }}">
                                {{ employee }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <a href="#" class="btn btn-primary ml-4 mt-4" onclick="updateAndReload(false)" id="export-link">Export Timesheets</a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <!-- <div class="table-responsive table-bordered">
                        <table class="table tablesorter" id="timesheets-table">
                            <thead class="text-primary">
                                <tr>
                                    <th>Project ID</th>
                                    <th>Name</th>
                                    <th>Description of work</th>
                                    <th id="mon">Mon</th>
                                    <th id="tue">Tue</th>
                                    <th id="wed">Wed</th>
                                    <th id="thu">Thu</th>
                                    <th id="fri">Fri</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for week in timesheets %}
                                    {% if week %}
                                        {% for timesheet in week %}
                                        <tr>
                                            <td>{{ timesheet.project.code }}</td>
                                            <td>{{ timesheet.project.name }}</td>
                                            <td>{{ timesheet.description }}</td>
                                            <td name="mon">{% if timesheet.day == "Monday" %}{{timesheet.hours_worked}} {% else %} 0.00 {% endif %}</td>
                                            <td name="tue">{% if timesheet.day == "Tuesday" %} {{timesheet.hours_worked}} {% else %} 0.00{% endif %}</td>
                                            <td name="wed">{% if timesheet.day == "Wednesday" %} {{timesheet.hours_worked}} {% else %} 0.00{% endif %}</td>
                                            <td name="thu">{% if timesheet.day == "Thursday" %}{{timesheet.hours_worked}} {% else %} 0.00 {% endif %}</td>
                                            <td name="fri">{% if timesheet.day == "Friday" %}{{timesheet.hours_worked}} {% else %} 0.00 {% endif %}</td>
                                        </tr>                                    
                                        {% empty %}
                                        {% endfor %}
                                    {% endif %}
                                {% empty %}
                                {% endfor %}

                                <tr id="calculated-row">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th colspan="8" id="weekly_total" style="text-align: right;"></th>
                                </tr>
                            </tbody>
                        </table>
                    </div> -->
    
                    <script>

                        function updateAndReload(redirect=true){
                            const employee_id = updateEmployee();
                            const [startDate, endDate] = updateDateRange();
                            if(redirect){
                                const reloadUrl = `{% url 'view_weekly_timesheet' %}?employee_id=${employee_id}&start_date=${startDate}&end_date=${endDate}`;
                                window.location = reloadUrl;
                            }
                            else{
                                const exportLinkBtn = document.getElementById('export-link');
                                const exportUrl = `{% url 'print_employee_report' %}?employee_id=${employee_id}&start_date=${startDate}&end_date=${endDate}`;
                                exportLinkBtn.href = exportUrl
                            }
                        }

                        function updateEmployee() {
                                const dropdown = document.getElementById('select_to_export');
                                const selectedValue = dropdown.value;
                                const exportLink = document.getElementById('export-link');
                                const employee_data_url = `{% url 'view_weekly_timesheet' %}?employee_id=${selectedValue}`
                                return selectedValue;
                                //exportLink.href = employee_data_url;
                                //window.location = employee_data_url;
                            }
                        function updateDateRange() {
                            const dropdown = document.getElementById('date_range');
                            const selectedValue = dropdown.value;
                            const exportLink = document.getElementById('export-link');
                            // Assuming the selected value is in the format "start_date to end_date"
                            return selectedValue.split(' to ');    
                            }
                        let weekly_total = 0
                        document.addEventListener('DOMContentLoaded', function () 
                        {
                            // Calculate sums for each day column
                            countColumnValues(3);
                            countColumnValues(4);
                            countColumnValues(5);
                            countColumnValues(6);
                            countColumnValues(7);
                            document.getElementById('weekly_total').innerHTML = "Total hours worked this week: " + weekly_total + " hours"
                        });

                        function countColumnValues(columnIndex) {
                            let table = document.getElementById("timesheets-table");
                            let rowCount = table.rows.length - 1;
                            let count = 0;

                            for (let i = 1; i < rowCount - 1; i++) {  // Start from 1 to skip the header and end before the last row
                                let cell = table.rows[i].cells[columnIndex];
                                if (cell) {
                                    count += parseFloat(cell.innerText) || 0;
                                }
                            }

                            let finalCell = table.rows[rowCount - 1].cells[columnIndex];
                            finalCell.innerText = count + " hours";
                            weekly_total += count;
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}