{% extends "layouts/base.html" %}

{% block title %} New Timesheet Entry {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">New Time Sheet Entry for <b>{{ project.name }}</b></h4>
                    <div class="week-navigation">
                        <button id="previous-week" class="btn btn-secondary"></button>
                        <span id="week-range" class="week-range"><span id="week-display"></span></span>
                        <button id="next-week" class="btn btn-secondary" disabled></button>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'add_timesheet_entry' project_id=project.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <select name="date" class="form-control option-background col-2" id="id_date">
                            </select>
                            {{ form.as_p }}
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    document.addEventListener("DOMContentLoaded", function () {

    
    function goToPreviousWeek() {
        fetchWeekDates('previous');
        document.getElementById('previous-week').disabled = true; // Enable "Next Week" button
        document.getElementById('next-week').disabled = false; // Enable "Next Week" button
        document.getElementById('week-display').textContent = '{{week_points.p_start}} to {{week_points.p_end}}'
    }
    
    function goToNextWeek() {
        fetchWeekDates('current');
        document.getElementById('next-week').disabled = true; // Enable "Next Week" button
        document.getElementById('previous-week').disabled = false; // Disable "Next Week" button if it's the current week
        document.getElementById('week-display').textContent = '{{week_points.c_start}} to {{week_points.c_end}}'
    }

    function fetchWeekDates(weekType) {
        fetch(`/get_week_dates/${weekType}/`)
            .then(response => response.json())
            .then(data => {
                const dropdown = document.getElementById('id_date');
                dropdown.innerHTML = ''; // Clear existing options
                data.week_choices.forEach(function(choice) {
                    const option = document.createElement('option');
                    option.value = choice[0];
                    option.textContent = `${choice[1]} (${choice[0]})`;
                    dropdown.appendChild(option);
                });
            });
        }

    // Initial display of the current week
    goToNextWeek();

    // Attach event listeners
    document.getElementById('previous-week').addEventListener('click', goToPreviousWeek);
    document.getElementById('next-week').addEventListener('click', goToNextWeek);
    
});
</script>
{% endblock javascripts %}
