{% extends "layouts/base.html" %}

{% block title %}Create Project{% endblock %}

{% block content %}
<div class="content">
    <div class="container">
        <div class="row ">
            <div class="col-md-6 offset-md-3 ">
                <div class="card">
                    <div class="card-header text-center py-4">
                        <h4 class="title">Create Project</h4>
                        <h6 class="card-category">
                            {% if msg %}
                                <span class="text-danger">{{ msg|safe }}</span>
                            {% endif %} 
                        </h6>
                    </div>
                    <form method="post" action="{% url 'create_project' %}">
                        {% csrf_token %}
                        <div class="card-body px-5 py-3">
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-primary">Create Project</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
