{% extends "layouts/base.html" %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <h5 class="card-category"></h5>
                            <h2 class="card-title">Inactive Projects</h2>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-title">
                                        Inactive Project count
                                    </div>
                                    <div class="card-body">
                                        {{inactive_project_count}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Active Projects</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter" id="active-projects-table">
                            <thead class="text-primary">
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                    </tr>
                            </thead>
                            <tbody>
                                {% for project in inactive_projects %}
                                <tr onclick="window.location='{% url 'project_details' project_id=project.id %}';" style="cursor: pointer;">
                                    <td>{{ project.name }}</td>
                                    <td>{{ project.description }}</td>
                                    <td>{{ project.start_date }}</td>
                                    <td>{{ project.end_date }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="5" class="text-center">No inactive projects found.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}

    {% endblock javascripts %}