{% extends "layouts/base.html" %}

{% block title %} Admin Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <h5 class="card-category"></h5>
                            <h2 class="card-title">Projects Overview</h2>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-title">
                                        Active projects
                                    </div>
                                    <div class="card-body">
                                        {{active_project_count}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-title">
                                        Inactive projects
                                    </div>
                                    <div class="card-body">
                                        {{inactive_project_count}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            {% if user.is_staff %}
            <div class="row spacing">
                <div class="col-sm-6 col-md-4 col-lg-3">
                  <a href="{% url 'create_project' %}" class="extendedbtn btn btn-primary w-100">New Project</a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                  <a href="{% url 'old_projects' %}" class="extendedbtn btn btn-primary w-100">Old Projects</a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                  <a href="{% url 'manage_projects' %}" class="extendedbtn btn btn-primary w-100">Manage Projects</a>
                </div>
              </div>
            {% endif %}
          </div>
        <div class="col-md-12">
            <div class="card">

                <div class="card-header d-flex col-12">
                    <h4 class="card-title  col-4">Active Projects</h4>
                    {% if user.is_staff and not user.is_superuser %}
                    <form class="d-flex justify-content-end align-items-center col-8" method="post" id="date-range-form" action="{% url 'export_project_based_timesheet_summary'%}">
                        {% csrf_token %}
                        <label for="date_range">Select month to export:</label>
                        <select class="form-control option-background col-3 mr-5 ml-3" name="date_range" id="date_range">
                          {% for month in dates %}    
                            <option class="form-control option-background" value="{{ month.month_start }} to {{ month.month_end }}">
                              {{month.month}}
                            </option>
                          {% endfor %}
                        </select>
                        <!-- Hidden input to hold selected project IDs -->
                        <input type="hidden" name="selected_projects" id="selected-projects">
                        <button id="export-link" class="btn btn-primary" disabled type="submit" >Export Report</button>
                    </form>
                    {% endif %}
                </div>

                {% if user.is_superuser %}
                <div class="filter-teams-dropdown col-5 pt-3">
                    <select name="" class="form-control option-background col-5" id="teams-dropdown">
                        <option value="" selected>All</option>
                    {% for team in teams %}
                        <option value='{{ team.name }}'>{{ team.name}}</option>
                        {% empty %}
                        <option value=''>Choose a team</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
                <div class="card-body">
                    <div class="table-responsive">
                        <input type="text" id="searchInput" placeholder="Search..." class="form-control">
                        <table class="table tablesorter" id="active-projects-table">
                            <thead class="text-primary">
                                <tr>
                                    {% if user.is_staff %}
                                    <th>Mark for export</th>
                                    {% endif %}
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Start Date</th>
                                    {% if user.is_superuser %}
                                    <th>Team</th>
                                    {% else %}
                                    <th>End date</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for project in active_projects %}
                                <tr>
                                    {% if user.is_staff %}
                                    <td><input type="checkbox" name="mark-for-export" id="{{project.id}}"></td>
                                    {% endif %}
                                    <td>{{ project.code }}</td>
                                    <td onclick="window.location='{% url 'project_details' project_id=project.id %}';" style="cursor: pointer;">{{ project.name }}</td>
                                    <td>{{ project.description }}</td>
                                    <td>{{ project.start_date }}</td>
                                    {% if user.is_superuser %}
                                    <td>{{ project.team }}</td>
                                    {% else %}
                                    <td>{{ project.end_date }}</td>
                                    {% endif %}
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4" class="text-center">No active projects found.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                    <script>
                        // JavaScript for client-side search
                        document.addEventListener('DOMContentLoaded', function() {
                            const searchInput = document.getElementById('searchInput');
                            const dropDown = document.getElementById('teams-dropdown')

                            const rows = document.querySelectorAll('#active-projects-table tbody tr');
                    
                            searchInput.addEventListener('keyup', function(event) {
                                const term = event.target.value.toLowerCase();
                                rows.forEach(row => {
                                    const columns = row.getElementsByTagName('td');
                                    let found = false;
                                    for (let i = 0; i < columns.length; i++) {
                                        const text = columns[i].textContent.toLowerCase();
                                        if (text.includes(term)) {
                                            found = true;
                                            break;
                                        }
                                    }
                                    row.style.display = found ? '' : 'none';
                                });
                            });
                            dropDown.addEventListener('change', function(event) {
                                const term = event.target.value.toLowerCase();
                                rows.forEach(row => {
                                    const columns = row.getElementsByTagName('td');
                                    let found = false;
                                    for (let i = 0; i < columns.length; i++) {
                                        const text = columns[i].textContent.toLowerCase();
                                        if (text.includes(term)) {
                                            found = true;
                                            break;
                                        }
                                    }
                                    row.style.display = found ? '' : 'none';
                                });
                            });
                          
                        });
                    </script>
                    
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock content %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        const checkboxes = document.querySelectorAll('input[name="mark-for-export"]');
        const submitButton = document.getElementById('export-link');
            
        // Function to check if any checkbox is checked
        function toggleSubmitButton() {
            const anyChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
            submitButton.disabled = !anyChecked;
        }
    
        // Attach the function to each checkbox's change event
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', toggleSubmitButton);
    });

    // Initial check in case the user already checked some boxes before the page fully loaded
    toggleSubmitButton();
});
        document.getElementById('date-range-form').addEventListener('submit', function (event) {
            // Get all checkboxes with the name 'mark-for-export'
            const checkboxes = document.querySelectorAll('input[name="mark-for-export"]:checked');

            // Collect the values of the checked checkboxes
            const selectedProjects = Array.from(checkboxes).map(checkbox => checkbox.id);

            // Set the value of the hidden input field with the selected project IDs
            document.getElementById('selected-projects').value = selectedProjects.join(',');
        });
    </script>

    {% endblock javascripts %}